@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
    url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway-Medium.ttf') format('truetype'),
    url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

header {
    background-color: #24282f;
    padding-top: 31px;
}

.container {
    margin: auto;
    max-width: 1100px;
    position: relative;
}

.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 31px;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline-block;
    margin-left: 28px;
}

header nav li:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #b5a263;
    transition: 0.5s;
}

header nav ul li:hover:after, header nav li.active:after {
    width: 100%;
}

header nav ul li a {
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 11px 32px;
    font-family: 'Open Sans';
    font-weight: normal;
}

header .logo {
    float: left;
}

header nav {
    float: right;
}

.container:after {
    clear: both;
    content: "";
    display: block;
}

.section {
    background-image: url("../images/header_bg.png");
    background-repeat: repeat-x;
    background-size: cover;
    padding-top: 71px;
    padding-bottom: 83px;
}

h1 {
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 17px;
    font-family: 'Raleway-Bold';
    font-weight: bold;
}

.container p {
    font-size: 11px;
    color: #ffffff;
    line-height: 19px;
    font-family: 'Open Sans';
    font-weight: normal;
}

.management-section {
    padding-top: 122px;
    padding-bottom: 25px;
    background-color: white;
}

.wrapper {
    margin: auto;
    max-width: 917px;
}

h2 {
    font-size: 19px;
    color: #24282f;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-family: 'Raleway-SemiBold';
    font-weight: 600;
}

h2:after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #b5a263;
    margin: 25px auto;
}

.management-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.management-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-link {
    margin-left: 3px;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #dedede;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
}

.social-link i{
    font-size: 14px;
    color: white;
}

.social-link:hover {
    content: "";
    display: inline-block;
    text-decoration: none;
    opacity: 0.5;
}

.management-name {
    font-size: 12px;
    color: #232323;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 5px;
    font-family: 'Raleway-Medium';
    font-weight: 500;
}

.management-position {
    font-size: 11px;
    color: #b5a263;
    padding-bottom: 37px;
    font-family: 'Open Sans';
    font-weight: normal;
}

.clear {
    clear: both;
}

.show-all-btn {
    border: 2px solid #7c7e82;
    border-radius: 25px;
    padding: 14px 32px;
    font-size: 13px;
    color: #24282f;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: normal;
}

.show-all-center {
    text-align: center;
}

.client-section {
    background-color: #f7f7f7;
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-heading {
    font-size: 19px;
    color: #24282f;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-family: 'Raleway-SemiBold';
    font-weight: 600;
}

.client-heading:after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #24282f;
    margin-top: 23px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.client-description {
    color: #000000;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 38px;
    font-family: 'Open Sans-Light';
    font-weight: 300;
}

.client-img {
    padding-bottom: 29px;
    text-align: center;
}

.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}

.owl-carousel .owl-item {
    position: relative;
    top: 20px
}

.client-name {
    font-size: 13px;
    color: #b5a263;
    text-align: center;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Raleway-SemiBold';
    font-weight: 600;
}

.client-position {
    font-size: 11px;
    color: #000000;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: normal;
}

.owl-nav .owl-prev {
    position: absolute;
    top: 100px;
    left: 250px;
}

.owl-nav .owl-prev:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f053";
    display: inline-block;
}

.owl-nav .owl-next {
    position: absolute;
    top: 100px;
    right: 250px;
}

.owl-nav .owl-next:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f054";
    display: inline-block;
}

.footer-top {
    background-color: #2b2f35;
    padding-top: 61px;
    padding-bottom: 35px;
    border-bottom: 2px solid #42464c;
}

.footer-top-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-top:after {
    clear: both;
    content: "";
    display: block;
}

h4 {
    color: #b5a263;
    font-size: 11px;
    text-align: left;
    padding-bottom: 22px;
    text-transform: uppercase;
    font-family: 'Open Sans-Semibold';
    font-weight: 600;
}

.footer-top p {
    color: #6e7279;
    font-size: 11px;
    line-height: 18px;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: normal;
}

.description-padding{
    padding-top: 23px;
}

.input-padding {
    padding-bottom: 10px
}

.email-input {
    width: 100%;
    border: 2px solid #4a4e55;
    background-color: #2b2f35;
    box-sizing: border-box;
    height: 30px;
    font-size: 11px;
    color: #6e7279;
    padding: 9px;
    font-family: 'Open Sans';
    font-weight: normal;
}

.subscribe-now-btn {
    background-color: #b5a263;
    padding: 11px 76px;
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    min-width: 238px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: normal;
}

.footer-bottom {
    background-color: #24282f;
    padding-top: 21px;
    padding-bottom: 21px;
}

.footer-bottom:after {
    clear: both;
    content: "";
    display: block;
}

.footer-bottom p {
    color: #6e7279;
    font-size: 9px;
    font-family: 'Open Sans';
    font-weight: normal;
    line-height: 27px;
}

.footer-bottom-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-float-right a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: solid 1px #5f636a;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    margin-right: 4px;
    margin-left: 4px;
}

.footer-float-right a i {
    font-size: 14px;
    color: #6e7279;
}

.footer-float-right a:hover{
    background-color: #b5a263;
    border: none;
}
.footer-float-right a:hover i {
    color: #ffffff;
}

.ui-accordion .ui-accordion-header {
    background-color: #fce7f2;
    padding: 30px 18px;
    font-size: 28px;
    color: #860da6;
    outline: none;
    border: none;
    border-radius: 0;
}

.ui-accordion .ui-accordion-content {
    background-color: #fef5fa;
    border: none;
    border-radius: 0;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #fef5fa;
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
}

.ui-accordion .ui-accordion-header:before {
    content: "";
    display: inline-block;
    background-color: #860da6;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: -7px;
}

.ui-icon {
    position: absolute;
    right: 45px;
    width: 20px;
    height: 30px;
    background-image: none;
    background-position: inherit;
    text-indent: 0;
}

.ui-icon-triangle-1-e:after, .ui-icon-triangle-1-s:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f105";
    display: block;
    font-size: 28px;
    color: #231e20;
}

.ui-icon-triangle-1-s:after {
    content: "\f107";
}
.ui-accordion .ui-accordion-header.ui-state-hover .ui-icon {
    background-image: none;
    background-position: inherit;
}

html {
}

body.is-froze {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
}

.main {
    overflow: hidden;
    position: relative;
    width: 100%;
    width: calc(100% - 0px);
    height: 100vh;
    margin-left: 0px;
    transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: scale(1) translate3d(0, 0, 0);
    clip-path: inset(0 0 0 0);
    will-change: width, height, opacity, transform, clip-path;
    z-index: 1;
}

.main.is-active {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    width: calc(100vw - 0px);
    pointer-events: none;
    opacity: 0.25;
    transform: scale(0.9) translate3d(60%, 0, 0);
}

@media (min-width: 600px) {
    .main.is-active {
        transform: scale(0.9) translate3d(40%, 0, 0); }
}

.main.is-transition-out {
    clip-path: inset(0 0 0 100%);
}

.hero__content,
.content {
    max-width: 800px;
    margin: 0 auto;
}

.hero {
    }

.hero__content {
    width: 100%;
    padding: 1.5rem;
    color: #4b5165;
    z-index: 1; }
@media (min-width: 600px) {
    .hero__content {
        padding: 6vmin; } }

.hero__heading {
    margin: 0;
    font-size: 2rem;
    font-weight: bold; }
@media (min-width: 600px) {
    .hero__heading {
        font-size: 3rem; } }

.hero__subheading {
    margin: 1rem 0 0;
    text-transform: uppercase;
    font-size: 1.25rem; }
@media (min-width: 600px) {
    .hero__subheading {
        font-size: 1.5rem; } }
.hero__subheading,
.hero__subheading a {
    color: #4b5165; }

.article {
    padding: 1.5rem;
    position: relative; }
@media (min-width: 600px) {
    .article {
        padding: 6vmin; } }
.article:not(:last-of-type):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    width: 50px;
    height: 2px;
    background-color: #ffffff; }
@media (min-width: 600px) {
    .article:not(:last-of-type):after {
        left: 6vmin; } }

.article__title {
    display: block;
    position: relative;
    font-family: "Raleway", "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #191b22; }
@media (min-width: 600px) {
    .article__title {
        font-size: 3vmin; } }
.article__title:hover {
    color: #ffffff; }

.article__time {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 1rem; }
@media (min-width: 600px) {
    .article__time {
        font-size: 1.5vmin; } }

.article__content {
    margin: 1rem 0 0;
    font-size: 1rem;
    line-height: 1.5; }

@media (min-width: 600px) {
    .article__content {
        font-size: 2vmin; } }

.nav__bar {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99; }

.nav__trigger {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 8px 0;
    margin-top: -10px;
    transition: 0.2s ease-in-out;
    z-index: 99; }

.nav__trigger .bars {
    position: relative; }

.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
    border-radius: 4px; }

.nav__trigger .bars:before, .nav__trigger .bars:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform; }

.nav__trigger .bars:before {
    transform: translateY(-8px); }

.nav__trigger .bars:after {
    transform: translateY(8px); }

.nav__trigger.is-active {
    transform: rotate(-45deg); }

.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
    transform: translateX(0) rotate(-90deg); }

.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #191b22;
    z-index: 0; }

.nav__list {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    padding-left: 60px;
    list-style: none;
    font-family: "Raleway", "Open Sans", sans-serif;
    transform: translateY(-50%); }

.nav__list .nav__item {
    padding: 0.5rem 1rem;
}

@media (min-width: 600px) {
    .nav__list .nav__item {
        width: 33.3333333333%;
        padding: 0.5rem 1rem; }
}

.nav__list a {
    display: inline-block;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
}

.nav__list a:hover {
    color: #b1b7cb;
}

.nav__list a.is-active {
    color: #d2d5e1;
}

@media (min-width: 600px) {
    .nav__list a {
        font-size: 1.5rem; }
}



